.root {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1200px;
  margin: var(--spacing-4) auto;
}

@media (min-width: 1200px) {
  .root {
    margin: 300px auto 150px auto;
    flex-direction: row;
  }
}

.root > * {
  flex: 1;
}

.textContainer {
  width: 100%;
  flex-shrink: 0;
}

@media (min-width: 1200px) {
  .textContainer {
    width: 50%;
  }
}

.figureContainer {
  display: flex;
  justify-content: center;
}
