.root {
  display: flex;
  align-items: center;
  max-width: 1200px;
  margin: 0 auto;
  flex-direction: column;
}

@media (min-width: 1500px) {
  .root {
    flex-direction: row;
  }
}

.root > * {
  flex: 1;
}

.textContainer {
  width: 50%;
  flex-shrink: 0;
  margin-bottom: 0;
}

@media (max-width: 1200px) {
  .textContainer {
    width: 100%;
    margin-bottom: var(--spacing-4);
  }
}

.figureContainer {
  display: flex;
  justify-content: center;
}
