.root {
  display: flex;
  flex-direction: column;
  max-width: 1200px;
  margin: auto;
  margin-bottom: var(--spacing-10);
  align-items: center;
}

.root h2 {
  background-color: var(--palette-secondary-light);
  padding: 0 var(--spacing-2);
  border-radius: 4px;
  margin-bottom: var(--spacing-1);
}

.root picture {
  flex: 1;
  padding: 0;
  box-sizing: border-box;
}

.root picture,
.root picture img {
  width: 600px;
  max-width: 100%;
  margin-top: var(--spacing-2);
}

.container {
  flex: 1;
  padding: 0 var(--spacing-2);
  box-sizing: border-box;
}

.subtitle {
  color: #777;
  font-size: 1.1rem;
}

.techsContainer {
  margin-top: var(--spacing-2);
  margin-bottom: var(--spacing-4);
  display: flex;
  flex-wrap: wrap;
}

@media (min-width: 1200px) {
  .root {
    flex-direction: row;
    align-items: flex-start;
  }

  .root picture {
    order: 1;
    padding: 0;
    margin-top: 0;
    padding: 0 var(--spacing-8);
  }

  .container {
    order: 2;
    padding: 0 var(--spacing-8);
  }

  .invert picture {
    order: 2;
  }

  .invert .container {
    order: 1;
    padding-left: 0;
  }
}
