.nav {
  background-color: var(--palette-primary-main);
  display: flex;
  justify-content: space-between;
  padding: var(--spacing-1) var(--spacing-4);
  margin-bottom: var(--spacing-4);
}

.nav p,
.nav a {
  color: var(--palette-primary-contrast-text);
  margin: 0;
}
