.footer {
  padding: var(--spacing-8) 0 var(--spacing-4) 0;
  text-align: center;
  background-color: #f6f6f6;
  margin-top: auto;
}

.footer p,
.footer a {
  font-size: 0.8rem;
  line-height: 1rem;
}

.footer a {
  text-decoration: underline;
}
