.root {
  padding: var(--spacing-2);
  background-color: var(--palette-primary-main);
  color: var(--palette-primary-contrast-text);
  box-shadow: var(--shadow-hard);
  position: relative;
  z-index: 200;
  position: sticky;
  top: 0;
}

.root ul {
  display: flex;
  justify-content: center;
  list-style-type: none;
  color: inherit;
  margin: 0;
  padding: 0;
}

.root ul li {
  margin: 0;
  padding: 0;
  color: inherit;
  font-weight: bold;
  font-size: 0.9rem;
}

.root ul li.portfolioItem {
  margin: 0 var(--spacing-4);
}

@media (min-width: 1200px) {
  .root ul {
    padding-top: var(--spacing-2);
    padding-bottom: var(--spacing-2);
  }
}
