.textField {
  display: flex;
  flex-direction: column;
  margin-bottom: var(--spacing-4);
}

.textField input {
  width: 100%;
  max-width: 100%;
  box-sizing: border-box;
}

.textField input,
.textField textarea {
  outline: 0;
  border: 0;
  background-color: '#fff';
  border-radius: 3px;
  padding: var(--spacing-1);
}

.textField textarea {
  width: 100%;
  padding: var(--spacing-2);
  box-sizing: border-box;
}

.textField label {
  font-size: 0.9rem;
  font-weight: bold;
  margin-bottom: var(--spacing-1);
}

.submitContainer .submitButton {
  padding-left: var(--spacing-10);
  padding-right: var(--spacing-10);
  width: 100%;
}

@media (min-width: 1200px) {
  .textField input {
    width: 300px;
    max-width: 100%;
  }

  .submitContainer .submitButton {
    width: auto;
  }
}
